[Unit]
Description=Golden Satya Fair
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=gsf
Group=gsf
WorkingDirectory=/var/www/goldensatyafair
EnvironmentFile=/etc/goldensatyafair.env
ExecStartPre=/usr/bin/node /var/www/goldensatyafair/scripts/patch-ssr-exports.mjs
ExecStartPre=/usr/bin/node /var/www/goldensatyafair/scripts/migrate.mjs
ExecStart=/usr/bin/node .output/server/index.mjs
Restart=always
RestartSec=4
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
